* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

/* p, h2 {
    color:purple;
} */
body div section p,
body div section h1 {
    color: blue;
}

.teste{
    align-content: center;
    font-style: italic;
    background: rgb(245, 231, 154);
    width: 220px;
    height: 80px;
}

.heading {
    color: brown;
    background: red;
}
body h2.heading{
    background: white;
}

.main-content h3{
    text-align: center;
    background: gray;
}

.main-content p.descricao {
    color: blueviolet;
    font-style: italic;
}


.pai {
    background: rgba(0, 0, 255, 0.329);
    color: initial;
    margin-left: 10px;
}

/* seleciona todos, não especifico */
.pai .filha {
    background: blueviolet;
    color: initial;
    margin-left: 10px;
}

/* child selector */
.pai > .filha {
    background: blue;
    color: aqua;
}

.pai > .filha > .filha {
    background: red;
}

/* adjacent sibling selector, seleciona diretamente o seguinte, p
ara um elemento que tenha a classe pai, encontrar um <p> q vem depois de <h1> */
/* .pai2 h1+p {
    color: red;
}
.pai2 p+h1 {
    color: chartreuse;
} */
/* general sibling selector -> todos que vem depois de um elemento */
.pai2 h1~p {
    color: aquamarine;
    background: gray;
}
.pai2 h1~.dois {
    background: rebeccapurple;
}

/* SELETORES DE ATRIBUTOS */
/* seleciona pelo menos algum valor IN opções
[meu-atributo~="valor"] {
    color: red;
}
/* seleciona valor que começa com.. */
/* [meu-atributo^="val"] {
    color: red;
} */
/* seleciona valor que termina com.. */
/* [meu-atributo$="alor"] {
    color: red;
} */
/* seleciona valor que CONTEM com.. */
/* [meu-atributo*="lo"] {
    color: red;
} */

[checked] {
    width: 50px;
    height: 50px;
}
.heading2 {
    transition: all 300ms ease-in-out;
}

.heading2:hover {
    color: gray;
    background: lightcoral;
}

a {
    color: darkorange;
}
a:link {
    color: darkgreen;
}
a:visited {
    color: brown;
}
a:hover {
    background: blue;
    color: white;
    text-decoration: none;
}
a:active {
    background: blueviolet;
    color: white;
    text-decoration: none;
}
input:focus {
    box-shadow: 0 0 5px rgba(0,0,0, 0.6);
    outline: none;
    border: 2px solid black
}
input:disabled {
    cursor: not-allowed;
    background: rgba(128, 128, 128, 0.493);
}

input:checked + p{
    color: black;
}
input:not(:checked) + p{
    color: rgb(0, 255, 170);
}
.pai .lista li:first-child{
    background: red;
}
/* p:not(.meio) {
    color: green;
} */

.lista-grande {
    font-size: 20px;
    margin: 35px;
}
.lista-grande p{
    font-weight: bold;
}
.lista-grande ul {
    list-style-type:decimal
}
.lista-grande ul li {
    height: 23px;
    width: 50px;
    text-align: center;
}

.lista-grande ul li:nth-child(-n + 4){
    border: 2px solid black;
    margin-bottom: 1px;
}
.lista-grande ul li:nth-child(odd){
    background-color: rgb(247, 247, 173);
}

.segunda-lista ul li::after {
    content: "  -  ";
    background-color: red;
    color: white;
}
.segunda-lista ul li::before {
    content: "  -  ";
    background-color: red;
    color: white;
}
.segunda-lista .texto-segunda-lista::first-letter {
    font-size: 33px;
    display: block;
    float: left;
    margin: 9px 1px 1px 1px;
}

.segunda-lista .texto-segunda-lista::first-line {
    color: black;
}

#explicacao-especificidade {
    color: black;
    font-size: 20px;
    margin: 0 0 0 20px;
}

/* 
Especificidade, empate(ordem), style, important

ID -> Classes, atributos e Pseudo-classes -> Elementos e pseudo classes
1,    0,                                     0
1,    1,                                     0
1,    1,                                     1
2,    1,                                     0

!important
força o navegador a usar esta configuração do css, usar em último recurso
*/
#p {
    background-color: lightgray;
}

#p.p {
    background-color: yellow;
}
p#p.p {
    background-color: lightblue;
}
#s #p.p {
    background-color: lightcyan;
}

/* propriedades especificas de box-model */
.texto {
    box-sizing: border-box;
    margin: initial;
    border: 5px solid black;
    padding: 25px;
    color: black;
    display: block;
    background-color: red;
    width: 100%;
    min-width: 0;
    max-width: 600px;
    height: 220px;
    min-height: 0px;
    max-height: 100%;
    overflow: auto;
    margin: 0 auto 20px auto;
    clear: both;
}
/* principais displays: inline, box, flex, grid */
/* cuidado ao usar float em elementos filhos */
.grid::after {
    content: '';
    display: block;
    clear: both;
}
.grid {
    box-sizing: border-box;
    margin: 15px;
}

.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}
.grid .col .col-content {
    width: 100%;
    height: 100%;
    background-color: #e5ff0071;
}

.cores{
    margin: 20px auto 0 30px;
}
html {
    /* padrão do navegador é 16px */
    font-size: 100%; 
    scroll-behavior: smooth;
}

.medidas {
    position: relative;
    margin: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(153, 205, 50, 0.5);
    z-index: 2;
}
.medidas a {
    font-size: 15px;
}

.p-medidas {
    overflow: visible;
}
.medidas-2 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightyellow;
}
.medidas-3 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
.medidas-4 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}

.medidas .p-medidas {
    font-size: 1rem;
}

.medidas > div {
    width: 50%;
    height: 50rem;
    background-color: azure;
    font-size: 3vmax;
}

.edicao-textos #p-edicao-textos {
    position: relative;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    font-family: "Audiowide" ,sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 25px;
    text-align: left;
    text-decoration: underline;
    text-indent: 30px;
    text-shadow: 2px 2px 4px red;
    text-transform: uppercase;
    z-index: 2;
}

.posicionamento-filha1, .posicionamento-filha2, .posicionamento-filha3 {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    line-height: 300px;
    font-weight: bolder;
    overflow-x: hidden;

    
}
/* .posicionamento-filha1 {
    overflow-x: hidden;
    position: relative; /* não muda o flow da página mas se posiciona conforme outros elementos
    left: 310px;} */

.posicionamento-filha2 {
    background-color: aqua;
    position: absolute; /*bom pra fazer um cabeçalho/menu que acompanha a página */
    top: 20px;
    border: 10px solid aqua;
    

}
.posicionamento-filha3 {
    background-color: bisque;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    z-index: 1;
    /* para ficar exatamente no meio */
}
.posicionamento-filha1 {
    margin-top: 80px;
}

.pai-stiky {
    position: absolute;
    font-size: 1.8rem;
    top: 50px;
    right: 10px;
    height: 200px;
    width: 200px;
    overflow-y: auto;

}
.pai-stiky .ul-stiky {
    margin-left: 35px;
    list-style-type: lower-greek;
}
.pai-stiky .stiky {
    position: sticky;
    background-color: gray;
    top: 0;
    list-style-type: none;
}

.grid-responsiva::after {
    content: '';
    display: block;
    clear: both;
}
.grid-responsiva {
    box-sizing: border-box;
    margin: 15px;
    overflow-x: hidden;


}

.grid-responsiva .col {
    box-sizing: border-box;
    width: 33%;
    height: 300px;
    float: left;
    padding: 15px;
}
.grid-responsiva .col .col-content {
    width: 100%;
    height: 100%;
    background-color: #00c3ffd2;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    box-shadow: -10px 10px 10px 3px rgba(0, 0, 0, 0.541);
}

#menu {
    margin: 10px 10px 10px 10px;
    position: fixed;
    display: block;
    width: 100%;
    height: 30px;
    z-index: 4;
    background-color: rgba(0, 0, 0);
    align-content: center;
    color: white;
    overflow-x: inherit;
}
#menu ul {
    list-style: none;
}
#menu ul li {
    float: left;
    margin-left: 30px;
}
#menu ul li a{
    display: block;
    padding: 0;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

#menu ul li a:hover{
    background-color: #555555;
    color: white;
}
/* @media to turrn responsive acording the size of the screen */
/* @media all and (max-width: 320px) {
    .grid-responsiva .col {
        width: 100%;
    }
}
@media all and (min-width: 321px) and (max-width: 400px){
    .grid-responsiva .col {
        width: 50%;
    }
}

@media all and (min-width: 401px){
    .grid-responsiva .col {
        width: 33.3%;
    }
} */

.flex-container {
    display: flex;
    flex-direction: row; /* orientação em linha, coluna, etc */
    justify-content: space-evenly; /* eixo principal em relação ao flex-direction , dá pra usar espaçamentos*/
    /* align-items: center; /* eixo perpendicular */
    /* align-content: baseline; /* alinha o conteudo todo */
    background-color: yellow;
    /* flex-wrap: wrap; */
    /* height: 500px; */
    flex-flow: row wrap;
}
.flex-container .flex-item {
    /*flex-grow: 1; /*1-> permite que distribuia espaço para todos elementos */
    /*flex-shrink: 0; /* permite que o elemento se diminua ou não*/
    /*flex-basis: 300px; /* antes de dividir o espaço em branco, ele dá esse tamanho pro elemento */
    flex: 1 1 300px;
    width: 33.33%;
    height: 200px;
    color: #ffffff;
    background-color: red;
    border: 5px black solid;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container .flex-item:nth-child(2) {
    flex: 1 1 300px;
    background-color: #555555;
}

