* {
    margin: 0;
    padding: 0;
}

p, h2 {
    color:purple;
}
body div section p,
body div section h1 {
    color: blue;
}

.teste{
    align-content: center;
    font-style: italic;
    background: rgb(245, 231, 154);
    width: 220px;
    height: 80px;
}

.heading {
    color: brown;
    background: red;
}
body h2.heading{
    background: white;
}

.main-content h3{
    text-align: center;
    background: gray;
}

.main-content p.descricao {
    color: blueviolet;
    font-style: italic;
}
div {

}

.pai {
    background: rgba(0, 0, 255, 0.329);
    color: initial;
    margin-left: 10px;
}

/* seleciona todos, não especifico */
.pai .filha {
    background: blueviolet;
    color: initial;
    margin-left: 10px;
}

/* child selector */
.pai > .filha {
    background: blue;
    color: aqua;
}

.pai > .filha > .filha {
    background: red;
}

/* adjacent sibling selector, seleciona diretamente o seguinte, p
ara um elemento que tenha a classe pai, encontrar um <p> q vem depois de <h1> */
/* .pai2 h1+p {
    color: red;
}
.pai2 p+h1 {
    color: chartreuse;
} */
/* general sibling selector -> todos que vem depois de um elemento */
.pai2 h1~p {
    color: aquamarine;
    background: gray;
}
.pai2 h1~.dois {
    background: rebeccapurple;
}

[meu-atributo="valor"] {
    color: red;
}
[checked] {
    width: 50px;
    height: 50px;
}